.welcomeSection {
  margin-bottom: 2rem;
}

.divider {
  /* width: 90%; */
  height: 1px;
  background: rgb(126, 255, 126);
  background: rgb(99, 99, 99);
  margin: .5rem 0;
}
.heroSectionWrapper {
  /* border: solid red 2px; */

  /* overflow: hidden; */
}

.heroImage {
  width: 100%;
}
.title {
    font-size: 3rem;
    margin: 1rem;
    background: var(--primary-gradient); /* Adjust the colors as needed */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: underline;
    width: fit-content;
    margin: 0 auto;
}

@media(max-width: 768px) {
  .divider {
    margin: 1rem 0;
  }

  .promoSection + .promoSection {
    margin-top: -2px;
  }
}